.c{
    border: 5px solid black;
    padding: 35px;
    max-width: 250px;
    margin-top: 200px;
    margin-left: 500px;
    background: lightskyblue;
}
body {

    /*background-image: url("");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*height: 100%;*/
}


